<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <h1>JEKZ Home Page.</h1>
    <br>
    <a href="/signup">Sign up for free</a>
  </body>
</html>
